* {
    margin: 0px;
    padding: 0px;
}
#container {
    margin: 0px auto;
    width: 800px;
    font-size: large;
}
#navbar button, .definition button, .add_def {
    border: 2px solid black;
    box-shadow: 3px 3px black;
}
#navbar {
    display: flex;
    justify-content: space-around;
    background-color: lightgray;
    align-items: center;
    height: 60px;
    margin-bottom: 20px;
}
#navbar input {
    border: 2px solid black;
    width: 250px;
    height: 25px;
}
#navbar button {
    background-color: blue;
    color: white;
    width: 50px;
}
#main {
    display: flex;
}
.left_main {
    margin: 10px;
    flex: 2;
}
.right_main {
    margin: 10px;
    flex: 1;
    border: 1px solid black;
    height: 100px;
}
.definition {
    border: 1px solid black;
    margin-bottom: 20px;
    height: 140px;
    display: flex;
    align-items: center;
    padding: 10px;
    justify-content: space-evenly;
}

#italic {
    font-style: italic;
}

.definition button {
    background-color: yellow;
    width: 60px;
    margin-top: 20px;
}
.right_main {
    display: flex;
    align-items: center;
    justify-content: center;
}
.add_def {
    margin-top: 10px;
    background-color: green;
    width: 140px;
}